@charset "UTF-8";
/* Framaework CSS
 * A SASS framework made by Lobae
 * Version    : 2.0
 * Author     : Matteo Chiti
 * Agency Site: http://www.lobae.com
 * Author Site: http://www.matteochiti.it
 */
.grid-container, .grid-container--tiny, .grid-container--small, .grid-container--large, .grid-container--huge, .grid-container--responsive {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 1rem;
  padding-right: 1rem; }

.grid-container--tiny {
  max-width: 640px; }

.grid-container--small {
  max-width: 800px; }

.grid-container--large {
  max-width: 1220px; }

.grid-container--huge {
  max-width: 1440px; }

.grid-container--responsive {
  max-width: 800px; }
  @media screen and (min-width: 1024px) {
    .grid-container--responsive {
      max-width: 1024px; } }
  @media screen and (min-width: 1324px) {
    .grid-container--responsive {
      max-width: 1220px; } }

/*  GRID SYSTEM
 *  There are three types of gutter:
 *  .row: Normal gutter: 1em (16px).
 *  .row--half: half gutter: 0.5em (8px).
 *  .row--stuck: without gutter.
 */
/* ROW */
.row, .row--half, .row--stuck,
.row--half,
.row--stuck {
  letter-spacing: -0.3rem; }

.row, .row--half, .row--stuck {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }

.row--half {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.row--stuck {
  margin-left: 0;
  margin-right: 0; }

.row:after, .row--half:after, .row--stuck:after,
.row--half:after,
.row--stuck:after {
  clear: both; }

.row--stuck .row, .row--stuck .row--half, .row--stuck .row--stuck {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; }

.row .row:before, .row--half .row:before, .row--stuck .row:before, .row .row--half:before, .row--half .row--half:before, .row--stuck .row--half:before, .row .row--stuck:before, .row--half .row--stuck:before, .row--stuck .row--stuck:before,
.row .row:after,
.row--half .row:after,
.row--stuck .row:after,
.row .row--half:after,
.row--half .row--half:after,
.row--stuck .row--half:after,
.row .row--stuck:after,
.row--half .row--stuck:after,
.row--stuck .row--stuck:after {
  content: " "; }

.row .row:after, .row--half .row:after, .row--stuck .row:after, .row .row--half:after, .row--half .row--half:after, .row--stuck .row--half:after, .row .row--stuck:after, .row--half .row--stuck:after, .row--stuck .row--stuck:after {
  clear: both; }

.row__column {
  letter-spacing: normal;
  padding-left: 1rem;
  padding-right: 1rem;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  position: relative;
  width: 100%; }

.row--half > .row__column {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
.row--half .row, .row--half .row--half, .row--half .row--stuck,
.row--half .row--half,
.row--half .row--stuck {
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; }

.row--stuck .row__column {
  padding-left: 0;
  padding-right: 0; }
.row--stuck .row, .row--stuck .row--half, .row--stuck .row--stuck,
.row--stuck .row--stuck {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; }

@media only screen {
  .columns-top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }
    .columns-top .row__column {
      vertical-align: top; }

  .columns-middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }
    .columns-middle .row__column {
      vertical-align: middle; }

  .columns-bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }
    .columns-bottom .row__column {
      vertical-align: bottom; }

  .columns-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .columns-center {
    -ms-flex-pack: distribute;
    justify-content: center; }

  .columns-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .columns-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .columns-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }

  .mobile {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .mobile-1 {
    ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .mobile-push-1 {
    left: 8.33333%; }

  .mobile-pull-1 {
    left: -8.33333%; }

  .mobile-2 {
    ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .mobile-push-2 {
    left: 16.66667%; }

  .mobile-pull-2 {
    left: -16.66667%; }

  .mobile-3 {
    ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .mobile-push-3 {
    left: 25%; }

  .mobile-pull-3 {
    left: -25%; }

  .mobile-4 {
    ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .mobile-push-4 {
    left: 33.33333%; }

  .mobile-pull-4 {
    left: -33.33333%; }

  .mobile-5 {
    ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .mobile-push-5 {
    left: 41.66667%; }

  .mobile-pull-5 {
    left: -41.66667%; }

  .mobile-6 {
    ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .mobile-push-6 {
    left: 50%; }

  .mobile-pull-6 {
    left: -50%; }

  .mobile-7 {
    ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .mobile-push-7 {
    left: 58.33333%; }

  .mobile-pull-7 {
    left: -58.33333%; }

  .mobile-8 {
    ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .mobile-push-8 {
    left: 66.66667%; }

  .mobile-pull-8 {
    left: -66.66667%; }

  .mobile-9 {
    ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .mobile-push-9 {
    left: 75%; }

  .mobile-pull-9 {
    left: -75%; }

  .mobile-10 {
    ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .mobile-push-10 {
    left: 83.33333%; }

  .mobile-pull-10 {
    left: -83.33333%; }

  .mobile-11 {
    ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .mobile-push-11 {
    left: 91.66667%; }

  .mobile-pull-11 {
    left: -91.66667%; }

  .mobile-12 {
    max-width: 100%; } }
@media screen and (min-width: 640px) {
  .tab-columns-top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }
    .tab-columns-top .row__column {
      vertical-align: top; }

  .tab-columns-middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }
    .tab-columns-middle .row__column {
      vertical-align: middle; }

  .tab-columns-bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }
    .tab-columns-bottom .row__column {
      vertical-align: bottom; }

  .tab-columns-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .tab-columns-center {
    -ms-flex-pack: distribute;
    justify-content: center; }

  .tab-columns-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .tab-columns-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .tab-columns-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }

  .tab {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .tab-1 {
    ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .tab-push-1 {
    left: 8.33333%; }

  .tab-pull-1 {
    left: -8.33333%; }

  .tab-2 {
    ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .tab-push-2 {
    left: 16.66667%; }

  .tab-pull-2 {
    left: -16.66667%; }

  .tab-3 {
    ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .tab-push-3 {
    left: 25%; }

  .tab-pull-3 {
    left: -25%; }

  .tab-4 {
    ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .tab-push-4 {
    left: 33.33333%; }

  .tab-pull-4 {
    left: -33.33333%; }

  .tab-5 {
    ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .tab-push-5 {
    left: 41.66667%; }

  .tab-pull-5 {
    left: -41.66667%; }

  .tab-6 {
    ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .tab-push-6 {
    left: 50%; }

  .tab-pull-6 {
    left: -50%; }

  .tab-7 {
    ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .tab-push-7 {
    left: 58.33333%; }

  .tab-pull-7 {
    left: -58.33333%; }

  .tab-8 {
    ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .tab-push-8 {
    left: 66.66667%; }

  .tab-pull-8 {
    left: -66.66667%; }

  .tab-9 {
    ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .tab-push-9 {
    left: 75%; }

  .tab-pull-9 {
    left: -75%; }

  .tab-10 {
    ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .tab-push-10 {
    left: 83.33333%; }

  .tab-pull-10 {
    left: -83.33333%; }

  .tab-11 {
    ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .tab-push-11 {
    left: 91.66667%; }

  .tab-pull-11 {
    left: -91.66667%; }

  .tab-12 {
    max-width: 100%; } }
@media screen and (min-width: 1024px) {
  .desk-columns-top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }
    .desk-columns-top .row__column {
      vertical-align: top; }

  .desk-columns-middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }
    .desk-columns-middle .row__column {
      vertical-align: middle; }

  .desk-columns-bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }
    .desk-columns-bottom .row__column {
      vertical-align: bottom; }

  .desk-columns-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .desk-columns-center {
    -ms-flex-pack: distribute;
    justify-content: center; }

  .desk-columns-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .desk-columns-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .desk-columns-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }

  .desk {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .desk-1 {
    ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .desk-push-1 {
    left: 8.33333%; }

  .desk-pull-1 {
    left: -8.33333%; }

  .desk-2 {
    ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .desk-push-2 {
    left: 16.66667%; }

  .desk-pull-2 {
    left: -16.66667%; }

  .desk-3 {
    ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .desk-push-3 {
    left: 25%; }

  .desk-pull-3 {
    left: -25%; }

  .desk-4 {
    ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .desk-push-4 {
    left: 33.33333%; }

  .desk-pull-4 {
    left: -33.33333%; }

  .desk-5 {
    ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .desk-push-5 {
    left: 41.66667%; }

  .desk-pull-5 {
    left: -41.66667%; }

  .desk-6 {
    ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .desk-push-6 {
    left: 50%; }

  .desk-pull-6 {
    left: -50%; }

  .desk-7 {
    ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .desk-push-7 {
    left: 58.33333%; }

  .desk-pull-7 {
    left: -58.33333%; }

  .desk-8 {
    ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .desk-push-8 {
    left: 66.66667%; }

  .desk-pull-8 {
    left: -66.66667%; }

  .desk-9 {
    ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .desk-push-9 {
    left: 75%; }

  .desk-pull-9 {
    left: -75%; }

  .desk-10 {
    ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .desk-push-10 {
    left: 83.33333%; }

  .desk-pull-10 {
    left: -83.33333%; }

  .desk-11 {
    ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .desk-push-11 {
    left: 91.66667%; }

  .desk-pull-11 {
    left: -91.66667%; }

  .desk-12 {
    max-width: 100%; } }
/**
 * 0.0 Float
 * ---------------------------------------------------------------------------- */
/* You can change the float behavior of an element by adding .left or .right to an HTML element.
 * To clear floats, add the class .cl to the parent element. */
.left {
  float: left !important; }

.right {
  float: right !important; }

.cl:before, .clear:before,
.cl:after,
.clear:after {
  content: "";
  display: table; }

.cl:after, .clear:after {
  clear: both; }

/* Clear mixin */
.vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media screen and (min-width: 640px) {
  .vertical-align--tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

.eq-vertical-align {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%); }

@media screen and (max-width: 640px) {
  .hidden--on-eq-mobile,
  .visible--on-tab {
    display: none; } }

@media screen and (min-width: 640px) {
  .hidden--on-tab,
  .visible--on-eq-mobile {
    display: none; } }

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .hidden--on-eq-tab {
    display: none; } }

@media screen and (min-width: 1024px) {
  .hidden--on-desk {
    display: none; } }

.visible--on-desk {
  display: none; }
  @media screen and (min-width: 1024px) {
    .visible--on-desk {
      display: block; } }

.hidden {
  display: none; }

.formatted-content {
  /* Blockquotes */ }
  .formatted-content ul,
  .formatted-content ol,
  .formatted-content dd,
  .formatted-content p,
  .formatted-content figure,
  .formatted-content pre,
  .formatted-content table,
  .formatted-content fieldset,
  .formatted-content hr,
  .formatted-content form {
    margin-bottom: 6px;
    margin-bottom: 0.375rem; }
    .formatted-content ul:last-child,
    .formatted-content ol:last-child,
    .formatted-content dd:last-child,
    .formatted-content p:last-child,
    .formatted-content figure:last-child,
    .formatted-content pre:last-child,
    .formatted-content table:last-child,
    .formatted-content fieldset:last-child,
    .formatted-content hr:last-child,
    .formatted-content form:last-child {
      margin-bottom: 0; }
  .formatted-content ul,
  .formatted-content ol,
  .formatted-content blockquote {
    padding-left: 30px; }
  .formatted-content ul li {
    list-style-type: disc; }
  .formatted-content ol li {
    list-style-type: decimal; }
  .formatted-content h1,
  .formatted-content h2,
  .formatted-content h3,
  .formatted-content h4,
  .formatted-content h5,
  .formatted-content h6 {
    margin-top: 12px;
    margin-top: 0.75rem; }
    .formatted-content h1:first-child,
    .formatted-content h2:first-child,
    .formatted-content h3:first-child,
    .formatted-content h4:first-child,
    .formatted-content h5:first-child,
    .formatted-content h6:first-child {
      margin-top: 0; }
  .formatted-content table {
    width: 100%; }
  .formatted-content blockquote {
    margin: 1.25rem 0;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cccccc; }
  .formatted-content blockquote cite {
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    color: #555555; }
  .formatted-content blockquote cite a,
  .formatted-content blockquote cite a:visited {
    color: #555555; }
  .formatted-content blockquote,
  .formatted-content blockquote p {
    line-height: 1.6;
    color: #555555; }
  @media print {
    .formatted-content blockquote {
      border: 1px solid #999999;
      page-break-inside: avoid; } }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.txt-center {
  text-align: center; }

.txt-justify {
  text-align: justify; }

::selection {
  background: #3498db;
  color: #ffffff; }

::-moz-selection {
  background: #3498db;
  color: #ffffff; }

/**
 * 0.0 Typography
 * ---------------------------------------------------------------------------- */
/* Default Link Styles */
a {
  color: #3498db;
  text-decoration: none;
  line-height: inherit; }

a:hover,
a:focus {
  color: #2980b9; }

a img {
  border: none; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility; }

/* Default header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-rendering: optimizeLegibility;
  line-height: 1.5; }

/** HEADER TITLES MEDIA QUERIES */
h1 {
  font-size: 24px;
  font-size: 1.5rem; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 26px;
      font-size: 1.625rem; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 28px;
      font-size: 1.75rem; } }

h2 {
  font-size: 20px;
  font-size: 1.25rem; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 22px;
      font-size: 1.375rem; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 24px;
      font-size: 1.5rem; } }

h3 {
  font-size: 18px;
  font-size: 1.125rem; }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 20px;
      font-size: 1.25rem; } }

h4 {
  font-size: 18px;
  font-size: 1.125rem; }
  @media screen and (min-width: 640px) {
    h4 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 20px;
      font-size: 1.25rem; } }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }
  @media screen and (min-width: 640px) {
    h5 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (min-width: 1024px) {
    h5 {
      font-size: 20px;
      font-size: 1.25rem; } }

h6 {
  font-size: 18px;
  font-size: 1.125rem; }
  @media screen and (min-width: 640px) {
    h6 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (min-width: 1024px) {
    h6 {
      font-size: 20px;
      font-size: 1.25rem; } }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: normal;
  color: #000000;
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  padding-left: 3px;
  padding-left: 0.1875rem;
  padding-right: 3px;
  padding-right: 0.1875rem; }

/* Lists */
ul,
ol,
dl {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  list-style-position: outside;
  font-family: inherit; }

ul li {
  margin-bottom: 0;
  list-style: none; }

/* Inline List */
.inline-li {
  margin: 0;
  padding: 0;
  list-style: none; }
  .inline-li > li {
    list-style: none;
    margin-left: 12px;
    margin-left: 0.75rem;
    display: inline-block; }
    .inline-li > li:first-child {
      margin-left: 0px;
      margin-left: 0rem; }
    .inline-li > li > * {
      display: block; }
  .inline-li.center-li {
    text-align: center; }
  .inline-li.left-li {
    text-align: left; }
  .inline-li.right-li {
    text-align: right; }

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-bottom: 0; }

ul.square li ul,
ul.circle li ul,
ul.disc li ul {
  list-style: inherit; }

ul.square {
  list-style-type: square; }

ul.circle {
  list-style-type: circle; }

ul.disc {
  list-style-type: disc; }

ul.none {
  list-style: none; }

/* Ordered Lists */
ol {
  margin-left: 3.5rem; }

ol li ul,
ol li ol {
  margin-bottom: 0; }

/* Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com) */
.print-only {
  display: none !important; }

@media print {
  * {
    background: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .hide-on-print {
    display: none !important; }

  .print-only {
    display: block !important; } }
.accordion__single {
  border: 1px solid #dddddd;
  margin-top: 3px;
  margin-top: 0.1875rem; }
  .accordion__single:hover .accordion__single-header {
    background-color: #f6f6f6; }
  .accordion__single.opened .accordion__single-header {
    background-color: #f6f6f6; }
    .accordion__single.opened .accordion__single-header .accordion__single-header-ui {
      transform: rotate(180deg); }

.accordion__single-header {
  position: relative;
  cursor: pointer;
  padding: 12px;
  padding: 0.75rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

.accordion__single-header-ui {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -11px; }

.accordion__single-content {
  display: none;
  padding: 12px;
  padding: 0.75rem;
  overflow: hidden; }

/**
 * 0.0 BUTTONS
 * ---------------------------------------------------------------------------- */
/* Default button [BLUE] */
.button, .button--secondary, .button--success, .button--alert, .button--warning, .button--disabled, .button--large, .button--small, .button--tiny, .button--expand, .button--radius, .button--round {
  border-style: none;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  padding-left: 18px;
  padding-left: 1.125rem;
  padding-right: 18px;
  padding-right: 1.125rem;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #3498db;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .button:hover, .button--secondary:hover, .button--success:hover, .button--alert:hover, .button--warning:hover, .button--disabled:hover, .button--large:hover, .button--small:hover, .button--tiny:hover, .button--expand:hover, .button--radius:hover, .button--round:hover, .button:active, .button--secondary:active, .button--success:active, .button--alert:active, .button--warning:active, .button--disabled:active, .button--large:active, .button--small:active, .button--tiny:active, .button--expand:active, .button--radius:active, .button--round:active, .button:focus, .button--secondary:focus, .button--success:focus, .button--alert:focus, .button--warning:focus, .button--disabled:focus, .button--large:focus, .button--small:focus, .button--tiny:focus, .button--expand:focus, .button--radius:focus, .button--round:focus {
    background-color: #2980b9;
    color: #ffffff;
    box-shadow: none;
    outline: 0; }

.button-outline, .button-outline--secondary, .button-outline--success, .button-outline--alert, .button-outline--warning, .button-outline--disabled, .button-outline--large, .button-outline--small, .button-outline--tiny, .button-outline--expand, .button-outline--radius, .button-outline--round {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  padding-left: 18px;
  padding-left: 1.125rem;
  padding-right: 18px;
  padding-right: 1.125rem;
  font-size: 14px;
  font-size: 0.875rem;
  border: #3498db 1px solid;
  color: #3498db;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .button-outline:hover, .button-outline--secondary:hover, .button-outline--success:hover, .button-outline--alert:hover, .button-outline--warning:hover, .button-outline--disabled:hover, .button-outline--large:hover, .button-outline--small:hover, .button-outline--tiny:hover, .button-outline--expand:hover, .button-outline--radius:hover, .button-outline--round:hover, .button-outline:active, .button-outline--secondary:active, .button-outline--success:active, .button-outline--alert:active, .button-outline--warning:active, .button-outline--disabled:active, .button-outline--large:active, .button-outline--small:active, .button-outline--tiny:active, .button-outline--expand:active, .button-outline--radius:active, .button-outline--round:active, .button-outline:focus, .button-outline--secondary:focus, .button-outline--success:focus, .button-outline--alert:focus, .button-outline--warning:focus, .button-outline--disabled:focus, .button-outline--large:focus, .button-outline--small:focus, .button-outline--tiny:focus, .button-outline--expand:focus, .button-outline--radius:focus, .button-outline--round:focus {
    background-color: #3498db;
    color: #ffffff;
    box-shadow: none;
    outline: 0; }

/* Secondary button [LIGHT GREY] */
.button--secondary {
  background-color: #dddddd;
  color: #333333; }
  .button--secondary:hover, .button--secondary:focus {
    background-color: #cccccc;
    color: #333333; }

.button-outline--secondary {
  border: #dddddd 1px solid;
  color: #dddddd; }
  .button-outline--secondary:hover, .button-outline--secondary:focus {
    background-color: #dddddd;
    color: #ffffff; }

/* Success button [GREEN] */
.button--success {
  background-color: #2ecc71;
  color: #ffffff; }
  .button--success:hover, .button--success:focus {
    background-color: #27ae60;
    color: #ffffff; }

.button-outline--success {
  border: #2ecc71 1px solid;
  color: #2ecc71; }
  .button-outline--success:hover, .button-outline--success:focus {
    background-color: #2ecc71;
    color: #ffffff; }

/* Alert button [RED] */
.button--alert {
  background-color: #e74c3c;
  color: #ffffff; }
  .button--alert:hover, .button--alert:focus {
    background-color: #c0392b;
    color: #ffffff; }

.button-outline--alert {
  border: #e74c3c 1px solid;
  color: #e74c3c; }
  .button-outline--alert:hover, .button-outline--alert:focus {
    background-color: #e74c3c;
    color: #ffffff; }

/* Warning button [ORANGE] */
.button--warning {
  background-color: #f1c40f;
  color: #ffffff; }
  .button--warning:hover, .button--warning:focus {
    background-color: #f39c12;
    color: #ffffff; }

.button-outline--warning {
  border: #f1c40f 1px solid;
  color: #f1c40f; }
  .button-outline--warning:hover, .button-outline--warning:focus {
    background-color: #f1c40f;
    color: #ffffff; }

/* Disabled button [LOW OPACITY] */
.button--disabled {
  color: #ffffff;
  opacity: 0.25;
  cursor: not-allowed;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .button--disabled:hover, .button--disabled:focus {
    background-color: #3498db;
    color: #ffffff;
    cursor: not-allowed; }

.button-outline--disabled {
  border: #3498db 1px solid;
  color: #3498db;
  opacity: 0.25;
  cursor: not-allowed; }
  .button-outline--disabled:hover, .button-outline--disabled:focus {
    background-color: transparent;
    color: #3498db;
    cursor: not-allowed; }

/** BUTTON SIZING */
.button--large {
  padding-left: 36px;
  padding-left: 2.25rem;
  padding-right: 36px;
  padding-right: 2.25rem;
  padding-top: 18px;
  padding-top: 1.125rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  font-size: 14px;
  font-size: 0.875rem;
  min-width: 160px; }

.button-outline--large {
  padding-left: 36px;
  padding-left: 2.25rem;
  padding-right: 36px;
  padding-right: 2.25rem;
  padding-top: 18px;
  padding-top: 1.125rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  font-size: 14px;
  font-size: 0.875rem;
  min-width: 160px; }

.button--small {
  padding: 9px;
  padding: 0.5625rem;
  font-size: 14px;
  font-size: 0.875rem; }

.button-outline--small {
  padding: 9px;
  padding: 0.5625rem;
  font-size: 14px;
  font-size: 0.875rem; }

.button--tiny {
  padding: 6px;
  padding: 0.375rem;
  font-size: 14px;
  font-size: 0.875rem; }

.button-outline--tiny {
  padding: 6px;
  padding: 0.375rem;
  font-size: 14px;
  font-size: 0.875rem; }

.button--expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%; }

.button-outline--expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%; }

/** BUTTON RADIUS */
.button--radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.button-outline--radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.button--round {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  border-radius: 1000px; }

.button-outline--round {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  border-radius: 1000px; }

.fade, .fade--in-up {
  -webkit-animation-duration: 1.9s;
  -moz-animation-duration: 1.9s;
  animation-duration: 1.9s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

.fade--in-up {
  opacity: 0; }
  .fade--in-up.on-screen {
    -webkit-animation-name: fade--in-up;
    animation-name: fade--in-up; }

@-webkit-keyframes fade--in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fade--in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.feedback-modal.fixed--top, .fixed--top.feedback-modal--positive, .fixed--top.feedback-modal--alert, .fixed--top.feedback-modal--warning, .feedback-modal.fixed--bottom, .fixed--bottom.feedback-modal--positive, .fixed--bottom.feedback-modal--alert, .fixed--bottom.feedback-modal--warning {
  position: fixed;
  left: 0;
  padding: 24px;
  padding: 1.5rem; }

.feedback-modal, .feedback-modal--positive, .feedback-modal--alert, .feedback-modal--warning {
  padding-top: 6px;
  padding-top: 0.375rem;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
  width: 100%;
  z-index: 999;
  display: none; }
  .feedback-modal.fixed--top, .fixed--top.feedback-modal--positive, .fixed--top.feedback-modal--alert, .fixed--top.feedback-modal--warning {
    top: 0; }
  .feedback-modal.fixed--bottom, .fixed--bottom.feedback-modal--positive, .fixed--bottom.feedback-modal--alert, .fixed--bottom.feedback-modal--warning {
    bottom: 0; }
  .feedback-modal .feedback-modal--container, .feedback-modal--positive .feedback-modal--container, .feedback-modal--alert .feedback-modal--container, .feedback-modal--warning .feedback-modal--container {
    border: 1px solid #3498db;
    background-color: #d9edf7;
    color: #3498db; }
  .feedback-modal.enable, .enable.feedback-modal--positive, .enable.feedback-modal--alert, .enable.feedback-modal--warning {
    display: block; }

.feedback-modal--container {
  background-color: #ffffff;
  padding: 12px;
  padding: 0.75rem;
  position: relative;
  border-radius: 4px; }

.feedback-modal__close-btn {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 12px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  cursor: pointer; }
  .feedback-modal__close-btn:hover i {
    font-weight: 900; }

.feedback-modal--positive .feedback-modal--container {
  border: 1px solid rgba(39, 174, 96, 0.3);
  background-color: #dff0d8;
  color: #27ae60; }

.feedback-modal--alert .feedback-modal--container {
  border: 1px solid rgba(231, 76, 60, 0.3);
  background-color: #f2dede;
  color: #e74c3c; }

.feedback-modal--warning .feedback-modal--container {
  border: 1px solid rgba(241, 196, 15, 0.3);
  background-color: #fcf8e3;
  color: #f1c40f; }

/**
 * 0.0 FORMS
 * ---------------------------------------------------------------------------- */
/* Standard Forms */
form {
  margin-bottom: 6px;
  margin-bottom: 0.375rem; }

/* Label Styles */
label {
  font-size: 14px;
  font-size: 0.875rem;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0; }
  label.right {
    float: none !important;
    text-align: right; }

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: visible;
  font-size: 14px;
  font-size: 0.875rem;
  min-height: 2.3125rem;
  line-height: 2.125rem; }

/* Adjust padding, alignment and radius if pre/post element is a button */
.postfix.button, .postfix.button--secondary, .postfix.button--success, .postfix.button--alert, .postfix.button--warning, .postfix.button--disabled, .postfix.button--large, .postfix.button--small, .postfix.button--tiny, .postfix.button--expand, .postfix.button--radius, .postfix.button--round,
.prefix.button,
.prefix.button--secondary,
.prefix.button--success,
.prefix.button--alert,
.prefix.button--warning,
.prefix.button--disabled,
.prefix.button--large,
.prefix.button--small,
.prefix.button--tiny,
.prefix.button--expand,
.prefix.button--radius,
.prefix.button--round {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-align: center;
  border: none; }

/* Separate prefix and postfix styles when on span or label so buttons keep their own */
.prefix,
.prefix {
  background: #f6f6f6;
  border-right: none;
  color: #555555;
  border-color: #dddddd; }

.postfix,
.postfix {
  background: #f6f6f6;
  border-left: none;
  color: #555555;
  border-color: #dddddd; }

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #ffffff;
  font-family: inherit;
  font-weight: 400;
  border: solid 1px #dddddd;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 6px;
  padding: 0.375rem;
  min-height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  input[type="text"]:focus, input[type="text"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="date"]:focus,
  input[type="date"]:active,
  input[type="datetime"]:focus,
  input[type="datetime"]:active,
  input[type="datetime-local"]:focus,
  input[type="datetime-local"]:active,
  input[type="month"]:focus,
  input[type="month"]:active,
  input[type="week"]:focus,
  input[type="week"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="search"]:focus,
  input[type="search"]:active,
  input[type="tel"]:focus,
  input[type="tel"]:active,
  input[type="time"]:focus,
  input[type="time"]:active,
  input[type="url"]:focus,
  input[type="url"]:active,
  input[type="color"]:focus,
  input[type="color"]:active,
  textarea:focus,
  textarea:active {
    border-color: #3498db;
    outline: none; }
  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="date"]:disabled,
  input[type="datetime"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="month"]:disabled,
  input[type="week"]:disabled,
  input[type="email"]:disabled,
  input[type="number"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  input[type="time"]:disabled,
  input[type="url"]:disabled,
  input[type="color"]:disabled,
  textarea:disabled {
    background-color: #f6f6f6;
    cursor: not-allowed; }
  input[type="text"].radius,
  input[type="password"].radius,
  input[type="date"].radius,
  input[type="datetime"].radius,
  input[type="datetime-local"].radius,
  input[type="month"].radius,
  input[type="week"].radius,
  input[type="email"].radius,
  input[type="number"].radius,
  input[type="search"].radius,
  input[type="tel"].radius,
  input[type="time"].radius,
  input[type="url"].radius,
  input[type="color"].radius,
  textarea.radius {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Not allow resize out of parent */
textarea {
  max-width: 100%;
  min-height: 80px; }

/* Add height value for select elements to match text input height */
select {
  background-color: #f6f6f6;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid #dddddd;
  padding: 0.5rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  line-height: 1.5;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  select::-ms-expand {
    display: none; }
  select.radius {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  select:hover {
    background-color: #f6f6f6;
    border-color: #dddddd; }
  select:disabled {
    background-color: #eeeeee;
    cursor: not-allowed; }
  select:focus, select:active {
    border-color: #3498db;
    outline: none; }

select[multiple] {
  background-image: none;
  height: auto; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin-bottom: 12px;
  margin-bottom: 0.75rem; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 6px;
  margin-left: 0.375rem;
  margin-right: 12px;
  margin-right: 0.75rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  vertical-align: baseline; }

.custom-radio {
  display: inline-block;
  margin-right: 12px;
  margin-right: 0.75rem; }
  .custom-radio input {
    display: none; }
  .custom-radio input:checked ~ .custom-radio__icon {
    border: 6px solid #3498db;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; }
  .custom-radio label {
    display: inline-block; }

.custom-radio__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  bottom: 1px;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #3498db;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

.custom-checkbox {
  display: inline-block;
  margin-right: 12px;
  margin-right: 0.75rem; }
  .custom-checkbox input {
    display: none; }
  .custom-checkbox input ~ .custom-checkbox__icon:after {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; }
  .custom-checkbox input:checked ~ .custom-checkbox__icon {
    background-color: #3498db; }
    .custom-checkbox input:checked ~ .custom-checkbox__icon:after {
      opacity: 1; }

.custom-checkbox__icon {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 2px;
  bottom: 1px;
  border: 2px solid #3498db;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset {
  border: 1px solid #eeeeee;
  padding: 18px;
  padding: 1.125rem;
  margin-left: 0px;
  margin-left: 0rem;
  margin-right: 0px;
  margin-right: 0rem; }
  fieldset legend {
    font-weight: bold;
    background: #ffffff;
    padding: 0;
    padding-left: 6px;
    padding-left: 0.375rem;
    padding-right: 6px;
    padding-right: 0.375rem;
    margin: 0; }

.form__field--invalid input,
.form__field--invalid input:focus {
  border: 1px solid #e74c3c; }
.form__field--invalid .form__msg {
  color: #e74c3c; }

.form__field--warning input,
.form__field--warning input:focus {
  border: 1px solid #f1c40f; }
.form__field--warning .form__msg {
  color: #f1c40f; }

.form__field--success input,
.form__field--success input:focus {
  border: 1px solid #2ecc71; }
.form__field--success .form__msg {
  color: #2ecc71; }

.form__msg {
  font-size: 82%; }

.input-group {
  display: table;
  width: 100%; }

.input-group__label,
.input-group__field,
.input-group__button {
  margin: 0;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle; }

.input-group__label {
  text-align: center;
  padding: 0 1rem;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid #dddddd;
  white-space: nowrap;
  width: 1%;
  height: 100%; }
  .input-group__label:first-child {
    border-right: none; }
  .input-group__label:last-child {
    border-left: none; }

.input-group__field {
  border-radius: 0;
  height: 2.5rem; }

.input-group__button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  height: 100%;
  width: 1%; }
  .input-group__button .input-group__button a,
  .input-group__button .input-group__button input,
  .input-group__button .input-group__button button {
    margin: 0; }

.input-group .input-group__button {
  display: table-cell; }

.form__field, .form__field--invalid, .form__field--warning, .form__field--success {
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }

.form__field--double {
  margin-bottom: 36px;
  margin-bottom: 2.25rem; }

.js--off-canvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

.off-canvas-opened {
  overflow: hidden; }
  .off-canvas-opened .js--off-canvas-overlay {
    opacity: 1;
    visibility: visible; }

.off-canvas--left, .off-canvas--right {
  position: fixed;
  z-index: 999;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff; }
  .opened.off-canvas--left, .opened.off-canvas--right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.off-canvas--left {
  left: 0;
  -webkit-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px); }

.off-canvas--right {
  right: 0;
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px); }

.off-canvas__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  .off-canvas__close-btn:hover {
    opacity: 0.7; }

.off-canvas__header {
  padding: 12px;
  padding: 0.75rem;
  border-bottom: 1px solid #dddddd;
  position: relative; }
  .off-canvas__header .off-canvas__close-btn {
    top: 50%;
    margin-top: -16px; }

.off-canvas__title {
  font-size: 18px;
  font-size: 1.125rem; }

.off-canvas__body {
  padding: 12px;
  padding: 0.75rem; }

body.popup-opened {
  overflow: hidden; }

.popup, .popup--tiny, .popup--small, .popup--large, .popup--full {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  overflow-y: auto; }
  .popup.active, .active.popup--tiny, .active.popup--small, .active.popup--large, .active.popup--full {
    opacity: 1;
    visibility: visible; }

.popup__wrap {
  width: 96%;
  max-width: 900px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 12px;
  margin-top: 0.75rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  padding: 24px;
  padding: 1.5rem;
  position: relative; }
  @media screen and (min-width: 640px) {
    .popup__wrap {
      margin-top: 48px;
      margin-top: 3rem; } }
  .popup__wrap.vertical-align {
    margin: 0px;
    margin: 0rem; }

.popup__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  display: block;
  padding: 6px;
  padding: 0.375rem;
  margin: 0px;
  margin: 0rem;
  font-size: 32px;
  font-size: 2rem;
  line-height: 0.4;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  cursor: pointer; }
  .popup__button:focus, .popup__button:active {
    outline: none; }
  .popup__button:hover {
    opacity: 0.6; }

.popup--tiny .popup__wrap {
  max-width: 320px; }

.popup--small .popup__wrap {
  max-width: 520px; }

.popup--large .popup__wrap {
  max-width: 1200px; }

.popup--full .popup__wrap {
  max-width: none;
  width: 100%;
  min-height: 100%;
  margin: 0px;
  margin: 0rem; }

.switch {
  display: inline-block;
  position: relative;
  margin: 0; }

.switch__checkbox {
  opacity: 0;
  position: absolute;
  margin: 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  color: #555555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  outline: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-appearance: none;
  transition: 0.05s border-color ease-in-out;
  -webkit-transition: 0.05s border-color ease-in-out;
  -moz-transition: 0.05s border-color ease-in-out; }

.switch__ui {
  display: inline-block;
  border-radius: 1000px;
  cursor: pointer;
  position: relative;
  background: #f6f6f6;
  height: 34px;
  vertical-align: middle;
  border: #dddddd solid 1px;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -o-transition: background 0.25s ease;
  transition: background 0.25s ease; }
  .switch__ui.--on {
    background: #3498db;
    border-color: #2980b9; }
  .switch__ui span {
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    padding-top: 6px;
    padding-top: 0.375rem;
    padding-bottom: 6px;
    padding-bottom: 0.375rem;
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    min-width: 15px; }

.switch__el--on {
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }

.switch__ui .switch__slider {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 50%;
  z-index: 1;
  background: #fff;
  border-radius: 1000px;
  border: #dddddd solid 1px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  transition-property: left, right; }
.switch__ui.--on .switch__slider {
  left: 50%;
  right: 2px;
  border-color: #2980b9; }

.table, .table--bordered, .table--striped, .table--condensed {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent; }
  .table td, .table--bordered td, .table--striped td, .table--condensed td,
  .table th,
  .table--bordered th,
  .table--striped th,
  .table--condensed th {
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #dddddd;
    padding-top: 18px;
    padding-top: 1.125rem;
    padding-bottom: 18px;
    padding-bottom: 1.125rem;
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem; }
  .table thead th, .table--bordered thead th, .table--striped thead th, .table--condensed thead th {
    border-bottom: 2px solid #dddddd; }
  .table.bordered-cell th, .bordered-cell.table--bordered th, .bordered-cell.table--striped th, .bordered-cell.table--condensed th,
  .table.bordered-cell td,
  .bordered-cell.table--bordered td,
  .bordered-cell.table--striped td,
  .bordered-cell.table--condensed td {
    border: 1px solid #dddddd; }
  .table.hover-row tbody tr, .hover-row.table--bordered tbody tr, .hover-row.table--striped tbody tr, .hover-row.table--condensed tbody tr {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; }
    .table.hover-row tbody tr:hover, .hover-row.table--bordered tbody tr:hover, .hover-row.table--striped tbody tr:hover, .hover-row.table--condensed tbody tr:hover {
      background-color: #f6f6f6; }

.table--bordered {
  border: 1px solid #dddddd; }

.table--striped tbody tr:nth-of-type(odd) {
  background-color: #f6f6f6; }
.table--striped.hover-row tbody tr:hover {
  background-color: #eeeeee; }

.table--condensed td,
.table--condensed th {
  padding: 6px;
  padding: 0.375rem; }

.table-responsive {
  display: block;
  width: 100%;
  min-height: 0%;
  overflow-x: auto; }
  @media screen and (max-width: 640px) {
    .table-responsive .table, .table-responsive .table--bordered, .table-responsive .table--striped, .table-responsive .table--condensed,
    .table-responsive .table--bordered,
    .table-responsive .table--striped,
    .table-responsive .table--condensed {
      width: 720px; } }

.hero {
  background-color: #3498db; }
  .hero hgroup {
    padding-top: 132px;
    padding-top: 8.25rem;
    padding-bottom: 36px;
    padding-bottom: 2.25rem; }
    .hero hgroup h1,
    .hero hgroup h2 {
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .hero hgroup h1 {
      font-weight: bold; }
    .hero hgroup h2 {
      font-weight: 200; }

.main-content {
  margin-top: 36px;
  margin-top: 2.25rem; }

.doc-section {
  margin-bottom: 60px;
  margin-bottom: 3.75rem; }
  .doc-section hr.grid-container, .doc-section hr.grid-container--tiny, .doc-section hr.grid-container--small, .doc-section hr.grid-container--large, .doc-section hr.grid-container--huge, .doc-section hr.grid-container--responsive {
    margin-top: 60px;
    margin-top: 3.75rem; }

.doc-section__example {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem; }

.doc-section__example__column-style {
  padding: 12px;
  padding: 0.75rem;
  margin-top: 12px;
  margin-top: 0.75rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  background-color: #eeeeee;
  color: #555555;
  text-align: center; }

pre code {
  display: block;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #555555; }

.custom-columns .row__column {
  ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  max-width: 20%; }

/**
 * 0.0 Reset
 * ---------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #ffffff;
  color: #000000;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 14px;
  font-size: 0.875rem; }

a {
  background-color: transparent; }

a:hover {
  cursor: pointer; }

a:active,
a:hover {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }

figure {
  padding: 0px;
  padding: 0rem;
  margin: 0px;
  margin: 0rem; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

textarea {
  height: auto; }

/* Typography gaps resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

hr {
  display: block;
  border: solid #cccccc;
  border-width: 1px 0 0;
  clear: both;
  margin-top: 6px;
  margin-top: 0.375rem;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
  height: 0; }

/* Iconae Light */
@font-face {
  font-family: "Iconae";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iconae/light/iconae-light.eot");
  src: url("../fonts/iconae/light/iconae-light.eot?#iefix") format("embedded-opentype"), url("../fonts/iconae/light/iconae-light.woff2") format("woff2"), url("../fonts/iconae/light/iconae-light.woff") format("woff"), url("../fonts/iconae/light/iconae-light.ttf") format("truetype"), url("../fonts/iconae/light/iconae-light.ttf") format("svg"); }
/* Iconae Regular */
@font-face {
  font-family: "Iconae";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/iconae/regular/iconae-regular.eot");
  src: url("../fonts/iconae/regular/iconae-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/iconae/regular/iconae-regular.woff2") format("woff2"), url("../fonts/iconae/regular/iconae-regular.woff") format("woff"), url("../fonts/iconae/regular/iconae-regular.ttf") format("truetype"), url("../fonts/iconae/regular/iconae-regular.ttf") format("svg"); }
/* Iconae Filled */
@font-face {
  font-family: "Iconae";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iconae/filled/iconae-filled.eot");
  src: url("../fonts/iconae/filled/iconae-filled.eot?#iefix") format("embedded-opentype"), url("../fonts/iconae/filled/iconae-filled.woff2") format("woff2"), url("../fonts/iconae/filled/iconae-filled.woff") format("woff"), url("../fonts/iconae/filled/iconae-filled.ttf") format("truetype"), url("../fonts/iconae/filled/iconae-filled.ttf") format("svg"); }
.iconae {
  font-family: "Iconae";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .iconae.extra-light {
    font-weight: 100; }
  .iconae.light {
    font-weight: 300; }
  .iconae.regular {
    font-weight: 400; }
  .iconae.bold {
    font-weight: 700; }
  .iconae.filled {
    font-weight: 900; }
  .iconae.x2 {
    font-size: 32px;
    font-size: 2rem; }
  .iconae.x3 {
    font-size: 48px;
    font-size: 3rem; }
  .iconae.x4 {
    font-size: 64px;
    font-size: 4rem; }

.ae--arrow-circle-down:before {
  content: ""; }

.ae--arrow-circle-left:before {
  content: ""; }

.ae--arrow-circle-right:before {
  content: ""; }

.ae--arrow-circle-up:before {
  content: ""; }

.ae--arrow-double-down:before {
  content: ""; }

.ae--arrow-double-left:before {
  content: ""; }

.ae--arrow-double-right:before {
  content: ""; }

.ae--arrow-double-up:before {
  content: ""; }

.ae--arrow-down-alias:before {
  content: ""; }

.ae--arrow-down:before {
  content: ""; }

.ae--arrow-left-alias:before {
  content: ""; }

.ae--arrow-left:before {
  content: ""; }

.ae--arrow-right-alias:before {
  content: ""; }

.ae--arrow-right:before {
  content: ""; }

.ae--arrow-small-down:before {
  content: ""; }

.ae--arrow-small-left:before {
  content: ""; }

.ae--arrow-small-right:before {
  content: ""; }

.ae--arrow-small-up:before {
  content: ""; }

.ae--arrow-up-alias:before {
  content: ""; }

.ae--arrow-up:before {
  content: ""; }

.ae--bell:before {
  content: ""; }

.ae--bin-opened:before {
  content: ""; }

.ae--bin:before {
  content: ""; }

.ae--book:before {
  content: ""; }

.ae--calendar:before {
  content: ""; }

.ae--camera:before {
  content: ""; }

.ae--cart:before {
  content: ""; }

.ae--check:before {
  content: ""; }

.ae--circle-check:before {
  content: ""; }

.ae--circle-cross:before {
  content: ""; }

.ae--circle-minus:before {
  content: ""; }

.ae--circle-plus:before {
  content: ""; }

.ae--clock:before {
  content: ""; }

.ae--cloud:before {
  content: ""; }

.ae--code:before {
  content: ""; }

.ae--color-picker:before {
  content: ""; }

.ae--copy:before {
  content: ""; }

.ae--cross:before {
  content: ""; }

.ae--dollar:before {
  content: ""; }

.ae--dots-vertical:before {
  content: ""; }

.ae--dots:before {
  content: ""; }

.ae--download:before {
  content: ""; }

.ae--drop:before {
  content: ""; }

.ae--exit:before {
  content: ""; }

.ae--eye:before {
  content: ""; }

.ae--facebook-square:before {
  content: ""; }

.ae--facebook:before {
  content: ""; }

.ae--file:before {
  content: ""; }

.ae--filter-list:before {
  content: ""; }

.ae--floppy:before {
  content: ""; }

.ae--flow-chart:before {
  content: ""; }

.ae--folder:before {
  content: ""; }

.ae--font:before {
  content: ""; }

.ae--gear:before {
  content: ""; }

.ae--globe:before {
  content: ""; }

.ae--grab-grid:before {
  content: ""; }

.ae--grid:before {
  content: ""; }

.ae--hamburger:before {
  content: ""; }

.ae--heart:before {
  content: ""; }

.ae--home:before {
  content: ""; }

.ae--image:before {
  content: ""; }

.ae--info:before {
  content: ""; }

.ae--instagram:before {
  content: ""; }

.ae--laptop:before {
  content: ""; }

.ae--like:before {
  content: ""; }

.ae--linkedin:before {
  content: ""; }

.ae--lock-open:before {
  content: ""; }

.ae--lock:before {
  content: ""; }

.ae--mac:before {
  content: ""; }

.ae--mail:before {
  content: ""; }

.ae--marker:before {
  content: ""; }

.ae--media:before {
  content: ""; }

.ae--message:before {
  content: ""; }

.ae--messages:before {
  content: ""; }

.ae--minus:before {
  content: ""; }

.ae--move:before {
  content: ""; }

.ae--note:before {
  content: ""; }

.ae--pages:before {
  content: ""; }

.ae--pause-circle:before {
  content: ""; }

.ae--pause:before {
  content: ""; }

.ae--pencil:before {
  content: ""; }

.ae--percentage:before {
  content: ""; }

.ae--phone:before {
  content: ""; }

.ae--pin:before {
  content: ""; }

.ae--play-circle:before {
  content: ""; }

.ae--play:before {
  content: ""; }

.ae--plug-in:before {
  content: ""; }

.ae--plug-off:before {
  content: ""; }

.ae--plus:before {
  content: ""; }

.ae--product-variable:before {
  content: ""; }

.ae--product:before {
  content: ""; }

.ae--products:before {
  content: ""; }

.ae--refresh:before {
  content: ""; }

.ae--returns:before {
  content: ""; }

.ae--ribbon:before {
  content: ""; }

.ae--search:before {
  content: ""; }

.ae--send:before {
  content: ""; }

.ae--seo:before {
  content: ""; }

.ae--share:before {
  content: ""; }

.ae--shopping-bag:before {
  content: ""; }

.ae--smartphone:before {
  content: ""; }

.ae--smartwatch:before {
  content: ""; }

.ae--speedometer:before {
  content: ""; }

.ae--star:before {
  content: ""; }

.ae--stock:before {
  content: ""; }

.ae--tablet:before {
  content: ""; }

.ae--tag:before {
  content: ""; }

.ae--tags:before {
  content: ""; }

.ae--target:before {
  content: ""; }

.ae--truck:before {
  content: ""; }

.ae--tune:before {
  content: ""; }

.ae--twitter-square:before {
  content: ""; }

.ae--twitter:before {
  content: ""; }

.ae--unlike:before {
  content: ""; }

.ae--upload:before {
  content: ""; }

.ae--user:before {
  content: ""; }

.ae--youtube-play:before {
  content: ""; }

.ae--zoom-in:before {
  content: ""; }

.ae--zoom-out:before {
  content: ""; }

/*# sourceMappingURL=framaework.css.map */
