//Variable
$grid-width-tiny: 640px
$grid-width-small: 800px
$grid-width: 1024px
$grid-width-large: 1220px
$grid-width-huge: 1440px

.grid-container
  width: 100%
  margin: 0 auto
  max-width: $grid-width
  padding-left: 1rem
  padding-right: 1rem

.grid-container--tiny
  @extend .grid-container

  max-width: $grid-width-tiny

.grid-container--small
  @extend .grid-container

  max-width: $grid-width-small

.grid-container--large
  @extend .grid-container

  max-width: $grid-width-large

.grid-container--huge
  @extend .grid-container

  max-width: $grid-width-huge

.grid-container--responsive
  @extend .grid-container
  max-width: $grid-width-small
  +breakpoint(desk)
    max-width: $grid-width
  +breakpoint(wall)
    max-width: $grid-width-large
