.switch
  display: inline-block
  position: relative
  margin: 0

.switch__checkbox
  opacity: 0
  position: absolute
  margin: 0
  border: 1px solid $border-color
  +radius
  background: $white
  color: $grey_5
  clear: none
  cursor: pointer
  display: inline-block
  line-height: 0
  height: 16px
  outline: 0
  padding: 0
  text-align: center
  vertical-align: middle
  width: 16px
  min-width: 16px
  -webkit-appearance: none
  // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  transition: .05s border-color ease-in-out
  -webkit-transition: .05s border-color ease-in-out
  -moz-transition: .05s border-color ease-in-out

.switch__ui
  display: inline-block
  border-radius: 1000px
  cursor: pointer
  position: relative
  background: $dark-white
  height: 34px
  vertical-align: middle
  border: $border-color solid 1px
  -webkit-transition: background 0.25s ease
  -moz-transition: background 0.25s ease
  -o-transition: background 0.25s ease
  transition: background 0.25s ease

  &.--on
    background: $primary-color
    border-color: $secondary-color

  span
    display: inline-block
    float: left
    text-align: center
    +font-size
    +paddingY(1)
    +paddingX(2)
    min-width: 15px

.switch__el--on
  color: $white
  +text-shadow

.switch__ui
  .switch__slider
    position: absolute
    top: 2px
    left: 2px
    bottom: 2px
    right: 50%
    z-index: 1
    background: #fff
    border-radius: 1000px
    border: $border-color solid 1px
    -webkit-transition: all 0.25s ease
    -moz-transition: all 0.25s ease
    -o-transition: all 0.25s ease
    transition: all 0.25s ease
    transition-property: left, right

  &.--on .switch__slider
    left: 50%
    right: 2px
    border-color: $secondary-color